@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/* Reset End */

/* Our styles */
:root {
  --black-color: #111828;
  --yellow-color: #f8ca1e;
  --white-color: #ffffff;
  --light-black-color: oklch(0.446 0.03 256.802);
}

html {
  line-height: 1.1;
  background-color: var(--white-color);
  font-size: 18px;
  font-family: "Mona Sans", system-ui;
  color: var(--black-color);
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }
}

/* Utilities */

.inside-main-container-area {
  max-width: 1350px;
  width: 90vw;
}

.full-width-container {
  max-width: 100vw;
}

.center-container {
  margin-left: auto;
  margin-right: auto;
}

/* Utilities END */
nav {
  margin-top: 1rem;
}

nav ul {
  max-width: 50%;
  padding: 1.2rem;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  border-radius: 4rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 3px -1px rgba(0, 0, 0, 0.2);

  li {
    font-size: 0.9rem;
  }

  .logo-img {
    margin-right: auto;
  }
}

.hero-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero-h1-h3 {
  width: 70%;
}

#hero-email-collection {
  width: 45%;
}

.other-words-content-box {
  width: 45%;
}

/* When on mobile */
@media (max-width: 640px) {
  .hero-h1-h3,
  .other-words-content-box,
  #hero-email-collection {
    width: 95%;
  }
}

.hero-h1-h3 h1,
.hero-h1-h3 h3 {
  text-align: center;
}

.other-words-content-box {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  color: var(--light-black-color);
  font-size: 1rem;
  line-height: 1.4;
  border-left: 0.5rem solid var(--light-black-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.other-words-content-box .author {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.other-words-content-box .author > p {
  font-weight: 600;
}

.other-words-content-box .author img {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: var(--white-color);
}

.other-words-content-box .quote-icon {
  width: 2em;
  height: 2em;
  margin-top: 0.5rem;
}

.other-words-content-box .quote {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.other-words-content-box .quote-source a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-color: inherit;
}

.other-words-content-box .quote-source .out-link-icon {
  width: 1em;
  height: 1em;
}

.other-words-content-box .quote-source a:hover .out-link-icon {
  transform: translateY(-0.1rem) translateX(0.1rem);
}

.other-words-content-box .quote-source a .out-link-icon {
  transition: transform 0.1s ease-in;
}

/* When on desktops, make the email container a little smaller */
@media (min-width: 640px) {
  .email-collection-container {
    max-width: 70%;
  }
}

h1 {
  font-family: "Funnel Display", system-ui;
  font-size: 2.75rem;
  position: relative;
}

h2 {
  font-family: "Funnel Display", system-ui;
  font-size: 2.35rem;
}

h3 {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  color: var(--light-black-color);
}

.chip {
  background-color: var(--yellow-color);
  width: fit-content;
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
  font-weight: 400;
  transform: rotate(-6deg);
  position: absolute;
  top: -1.4rem;
  font-size: 1rem;
}

/* Styles for pain card */
.container-of-three-major-pains {
  background-color: #f1f5f9;
}

.container-of-three-major-pains .h2-h3 {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.three-major-pains {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pain-card-container {
  color: var(--white-color);
  border-radius: 0.8rem;
  padding: 1.4rem 1.2rem;
  border: 0.6rem solid;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}

.pain-card-container.feature {
  background-color: #0090ff;
  border-color: #8ec8f6;
  transform: rotate(2deg);
}

.pain-card-container.bug {
  background-color: #ff5100e0;
  border-color: #f69a73;
  transform: rotate(-1deg);
}

.pain-card-container.support {
  background-color: #46a758;
  border-color: #b2ddb5;
  transform: rotate(4deg);
}

.pain-title {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.1rem;
}

.hand-drawn {
  color: inherit;
  width: 2.2em;
  height: 2.2em;
}

.hand-drawn.feature {
  transform: rotate(5deg);
}

.hand-drawn.bug {
  transform: rotate(-3deg);
}

.hand-drawn.support {
  transform: rotate(3deg);
}

.pain-description {
  line-height: 1.3;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
}

/* Manifesto */
.manifesto {
  background-color: #f1f5f9;
  padding-bottom: 6rem;
}

.manifesto .section-heading {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.manifesto .paper {
  border-radius: 1rem;
  background-color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.4;
  padding: 2.2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

/* When on desktop */
@media (min-width: 640px) {
  .manifesto .paper {
    max-width: 60%;
    font-size: 1.3rem;
    padding: 3.3rem;
  }
}

.manifesto .paper > p,
#manifesto-email-collection,
.signature {
  margin-bottom: 2rem;
}

.manifesto .paper svg {
  position: relative;
  left: -0.2em;
  width: 4em;
  height: 2em;
}

.signature {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.signature .signature-content {
  font-size: 0.9em;
  line-height: 1.2;
}

.signature .picture {
  width: 2.7em;
  height: 2.7em;
  border-radius: 50%;
}

/* Manifesto End */

/* Email Submit Box */
.email-submit-box {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 0.8rem;
  padding: 0.8rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.email-submit-box .thank-you {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2;
  color: var(--light-black-color);
  margin-right: auto;
  display: none;
}

.email-submit-box .email-input {
  flex-grow: 1;
  border: 1px solid #e2e8f0;
  border-radius: 6rem;
  padding: 0.6rem;
  font-size: 0.8rem;
  color: var(--black-color);
}

.email-submit-box .email-button {
  background-color: var(--yellow-color);
  color: var(--black-color);
  border: none;
  border-radius: 6rem;
  padding: 0.6rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 0.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.email-submit-box .email-button svg {
  width: 1.2em;
  height: 1.2em;
}

.email-submit-box .email-button:disabled {
  opacity: 0.7;
}

.email-submit-box .email-button:hover .send-icon {
  transform: translateX(0.2rem);
}

.email-submit-box .email-button .send-icon {
  transition: transform 0.2s ease-in;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.email-submit-box .email-button .in-progress-icon {
  display: none;
  animation: spin 1s linear infinite;
}

.email-submit-box .email-button .done-success-icon {
  display: none;
}
/* Email Submit Box End */
